.header{
    background: var(--grey-800);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    gap: .3rem;
    position: relative;
}

.header > img{
    height: 2rem;
}

.signout{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
}

.signout:hover{
    color: var(--red-500);
}