
.sidebar{
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
}

.cover{
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
}

.authorInfo{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.footer a{
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: color 0.1s, background-color 0.1s;
}

.footer a:hover{
    background: var(--green-500);
    color: var(--white);
}

.name{
    color: var(--gray-100);
    line-height: 1.6;
    display: block;
}

.role{
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
    display: block;
}
